<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista - {{user.user_name}}</title>
    <link rel="icon" href="/static/images/Favicon1.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<script>
    window.addEventListener("pageshow", function(e) {
    if (e.persisted) location.reload();
    });
</script>
<body class="bd">
    <!-- HEADER / NAVIGATION -->

    <header>
        <nav class="nav text-nav" style="position: absolute; width: 100%; opacity: 75%; margin-left: 0px; z-index: 1;">

            <!-- Site icon -->
            <img class="favi-img" src="/static/images/Favicon1.png" alt="">


            <!-- USER MENU / LOGIN SECTION -->

            <div class="dropdown-container">

                {% if user is not none %}

                <!-- Toggle checkbox for dropdown menu -->
                <input type="checkbox" id="toggle-menu" hidden>

                <!-- Button that opens the profile menu -->
                <label for="toggle-menu" class="dropdown-btn">
                    {{ user.user_name }}
                    <i class="fa-regular fa-user"></i>
                </label>

                <!-- Profile dropdown menu -->
                <div class="dropdown-profile">

                    <!-- Menu header -->
                    <div class="container-between exit-menu">
                        <p>Menú</p>

                        <input type="checkbox" id="toggle-menu" hidden>
                        <label for="toggle-menu" class="dropdown-btn">
                            <i class="fa-solid fa-x"></i>
                        </label>
                    </div>

                    <!-- Menu options -->
                    <p>Mi lista</p>
                    <p>Perfil</p>

                    <a href="/logout">
                        <p>Cerrar sesión</p>
                    </a>

                </div>

                {% else %}

                <!-- Login button if user is not authenticated -->
                <a href="/login">
                    <p>Iniciar sesión</p>
                </a>

                {% endif %}

            </div>
        </nav>
    </header>

    <!-- Banner -->
    <div class="container-banner" style="{% if user.banner is not none %}background-image: url('{{ user.banner }}'){% else %}background: linear-gradient(180deg, rgba(var(--color-shadow-dark), 0) 40%, rgba(var(--color-shadow-dark), .6));{% endif %};">
        <div class="banner-margin">
            <div class="background-image" style="background-image: url('{{ user.image }}');"></div>
            <p>{{ user.user_name }}</p>
        </div>
        <div class="mini-nav">
            <div class="nav-margin">
                <a class="link" href="/profile" >Overview</a>
                <a class="link" href="" style="color: blueviolet;">Lista de animes</a>
                <a class="link" href="">Social</a>
                <a class="link" href="">Favoritos</a>
            </div>
        </div>
    </div>
        
    <div class="container-list">
        <div class="content">

            {% if anime_finish %}
            <div class="list">
                <p class="title-class">Completados</p>

                <div class="anime-list">
                    <div class="header-list">
                        <div class="image-list"></div>
                        <div class="title-list">
                            <p>Título</p>
                        </div>
                        <div class="score-list">
                            <p>Puntuación</p>
                        </div>
                        <div class="progress-list">
                            <p>Progreso</p>
                        </div>
                    </div>
                    {% for complete in anime_finish %}
                    <div class="content-list">
                        <img class="img-hover" src="{{ complete.anime.image }}" alt="" id="anime-img">

                        <div class="image-list"><img id="img-btn" src="{{ complete.anime.image }}" alt=""><button class="btn-img" id="btn-img"><i class="fa-solid fa-pen-to-square"></i></button></div>
                        <div class="title-list">
                            <p>{{ complete.anime.name }}</p>
                        </div>
                        <div class="score-list">
                            <p>{{ complete.score }}</p>
                        </div>
                        <div class="progress-list">
                            <p>{{ complete.anime.num_caps }} / {{ complete.anime.num_caps }}</p>
                        </div>

                    </div>
                    {% endfor %}
                </div>

            </div>
            {% else %}
                <p>No has completado aun un anime</p>
            {% endif %}


            {% if anime_view %}
            <div class="list">
                <p class="title-class">En curso</p>

                <div class="anime-list">
                    <div class="header-list">
                        <div class="image-list"></div>
                        <div class="title-list">
                            <p>Título</p>
                        </div>
                        <div class="score-list">
                            <p>Puntuación</p>
                        </div>
                        <div class="progress-list">
                            <p>Progreso</p>
                        </div>
                    </div>
                    {% for complete in anime_view %}
                    <div class="content-list">
                        <img class="img-hover" src="{{ complete.anime.image }}" alt="" id="anime-img">

                        <div class="image-list"><img src="{{ complete.anime.image }}" alt=""></div>
                        <div class="title-list">
                            <p>{{ complete.anime.name }}</p>
                        </div>
                        <div class="score-list">
                            <p>{% if complete.score is not none %}{{ complete.score }}{% else %}Sin puntuación{% endif %}</p>
                        </div>
                        <div class="progress-list">
                            <p>{{ complete.anime.num_caps }} / {{ complete.anime.num_caps }}</p>
                        </div>

                    </div>
                    {% endfor %}
                </div>

            </div>
            {% else %}
                <p>No has completado aun un anime</p>
            {% endif %}


        </div>
    </div>

</body>
</html>