<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajustes del perfil</title>
    <link rel="icon" href="/static/images/Favicon1.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>

<script>
    window.addEventListener("pageshow", function(e) {
    if (e.persisted) location.reload();
    });
</script>

<body class="bd">

    <!-- HEADER / NAVIGATION -->

    <header class="header">
        <nav class="nav text-nav">

            <!-- Site icon -->
            <a href="/">
                <img  class="favi-img" src="/static/images/Favicon1.png" alt="">
            </a>


            <!-- DROPDOWN PROFILE  -->
            <div class="dropdown-container sansation-light">
                {% if user is not none %}
                <input type="checkbox" id="toggle-menu" hidden>
                <label for="toggle-menu" class="dropdown-btn1"><img class="avatar-nav" src="/static/uploads/{{ user.image }}" alt=""></label>
                <label class="menu-overlay" for="toggle-menu"></label>
                <div class="dropdown-profile">
                    <a href="/profile/list"><p>Mi lista</p></a>
                    <a href="/profile"><p>Perfil</p></a>
                    <a href="/setting"><p>Ajustes</p></a>
                    <a href="/logout">
                        <p>Cerrar sesión</p>
                    </a>
                </div>
                {% else %}
                <a href="/login">
                    <p>Iniciar sesión</p>
                </a>
                {% endif %}
            </div>
        </nav>
    </header>


    <div class="container-main">
            <div class="container-left">
                <div class="margin-left">
                    <h3>Ajustes</h3>
                    <p>Perfil</p>
                    <p>Cuenta</p>
                </div>
            </div>
            <div class="container-right">
                <div class="margin-right">
                    
                    <form method="POST" action="/setting/change_name">
                        <h3>Nombre usuario</h3>
                        <input type="text" name="username" {% if user.user_name %}value="{{ user.user_name }}"{% endif %}>
                        <button type="submit">Guardar</button>
                        {% if errors %}{% for error in errors %}<p>⚠️ {{ error }}</p>{% endfor %}{% endif %}
                        {% if success %}{% for ok in success %}<p> {{ ok }}</p>{% endfor %}{% endif %}
                    </form>

                    <form method="POST" action="" >
                        <h3>Sobre mi</h3>
                        <textarea name="about-me" id="about-me" class="about-me" rows="6" cols="110" {% if not user.description %} placeholder="Escribe aquí..."{% endif%}>{% if user.description %}{{user.description}}{% endif %}</textarea>
                        <button type="submit">Guardar</button>
                    </form>
                    <h3>Foto de perfil</h3>
                    <img class="image-user" {% if user.image %}src="static/uploads/{{ user.image }}"{% endif %} alt="">
                    <form method="POST" action="/setting/upload/" enctype="multipart/form-data">
                        <input type="file" name="file" id="file">
                        <button type="submit">Guardar</button>
                    </form>
                </div>
            </div>
    </div>
</body>
</html>