<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajustes del perfil</title>
    <link rel="icon" href="/static/images/Favicon1.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>

<script>
    window.addEventListener("pageshow", function(e) {
    if (e.persisted) location.reload();
    });
</script>

<body class="bd">

    <!-- HEADER / NAVIGATION -->

    <header class="header">
        <nav class="nav text-nav">

            <!-- Site icon -->
            <a href="/">
                <img  class="favi-img" src="/static/images/Favicon1.png" alt="">
            </a>


            <!-- DROPDOWN PROFILE  -->
            <div class="dropdown-container sansation-light">
                {% if user is not none %}
                <input type="checkbox" id="toggle-menu" hidden>
                <label for="toggle-menu" class="dropdown-btn1"><img class="avatar-nav" src="{{ user.image }}" alt=""></label>
                <label class="menu-overlay" for="toggle-menu"></label>
                <div class="dropdown-profile">
                    <a href="/profile/list"><p>Mi lista</p></a>
                    <a href="/profile"><p>Perfil</p></a>
                    <a href="/setting"><p>Ajustes</p></a>
                    <a href="/logout">
                        <p>Cerrar sesión</p>
                    </a>
                </div>
                {% else %}
                <a href="/login">
                    <p>Iniciar sesión</p>
                </a>
                {% endif %}
            </div>
        </nav>
    </header>


    <div class="container-main">
        
    </div>
</body>
</html>