{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div class="container-mid">
    <h1 class="" style="color: #178582;">Inicio de sesión</h1>
    <div class="container-login">
        {% if errors %}
            <div class="alert alert-danger" role="alert">
                <h5 class="alert-heading">
                    <i class="fa-solid fa-triangle-exclamation"></i> Errores de validación:
                </h5>
                <ul class="mb-0">
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <form action="/login" method="post">
            <div class="content-login">
                <div class="text-login column">
                    <p>Email o nombre de usuario</p>
                    <input class="input-box" type="text" name="email" value="{% if value_data %}{{ value_data.get('email') }}{% endif %}">
                </div>
                <div class="text-login column">
                    <div class="container-around password">
                        <p>Constraseña</p>
                        <a class="recover-password" href="#">
                        <p>Recuperar contraseña</p>
                        </a>       
                    </div>
                    <input class="input-box" type="password" name="password">
                    <a href="/user/create" class=""><p>Crear cuenta</p></a>
                </div>
                <button class="btn-login">Inicio</button>
            </div>
         </form>

    </div>
</div>
{% endblock %}