<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnimeList - {{ anime.name }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body class="bd container-relative" >
    <header>
        <nav class="nav text-nav" style="position: absolute; width: 100%; opacity: 75%; margin-left: 0px;">
            <i class="fa-solid fa-clipboard-list"></i>
            <!-- <div class="">
                <div class="dropdown">
                    <button class="dropbtn">Animes</button>
                    <div class="dropdown-content">
                        <a class="text-nav" href="">Buscar Anime</a>
                        <a class="text-nav" href="">Top Anime</a>
                    </div>
                </div> 
            </div> -->
            <div class="dropdown-container">
                {% if user is not none %}
                <input type="checkbox" id="toggle-menu" hidden>
                <label for="toggle-menu" class="dropdown-btn">{{ user.user_name }}<i class="fa-regular fa-user"></i></label>
                <div class="dropdown-profile">
                    <div class="container-between exit-menu">
                            <p>Menú</p>
                            <input type="checkbox" id="toggle-menu" hidden>
                            <label for="toggle-menu" class="dropdown-btn"><i class="fa-solid fa-x"></i></i></label>
                    </div>
                    <p>Mi lista</p>
                    <p>Perfil</p>
                    <a href="/logout">
                        <p>Cerrar sesión</p>
                    </a>
                </div>
                {% else %}
                <a href="/login">
                    <p>Iniciar sesión</p>
                </a>
                {% endif %}
    </header>

    <div class="">
        <!-- BANNER -->
        <div class="banner">
            {% if anime %}
            <img src="{{ anime.banner }}" alt="">
            <div class="shadow"></div>
        </div>
        <!-- IMAGE AND BUTTONS -->
        <div class="container-center container-relative box-description">
            <div class="image-description position-image" >
                <img src="{{ anime.image }}" alt="">
                <div class="box-addlist">
                    <form method="post" action="/addlist">
                        <input type="hidden" name="anime_id" value="{{ anime.id }}">
                        <input type="hidden" name="next" value="{{ request.url }}">
                        <button class="btn-list" onmouseover="this.style.backgroundColor='{% if my_list and my_list.status != 'Eliminado' %}red{% else %}#008000{% endif %}'" onmouseout="this.style.backgroundColor='#3db4f2'" >{% if my_list and my_list.status != "Eliminado" %}
                                                    Eliminar de la lista
                                                {% else %}
                                                    Añadir a la lista
                                                {% endif %}
                        </button>
                    </form>
                    <form method="post" action="/like">
                        <input type="hidden" name="anime_id" value="{{ anime.id }}">
                        <input type="hidden" name="next" value="{{ request.url }}">
                        {% if not my_list or my_list.like == false %}
                            <button class="btn-like" onmouseover="this.style.backgroundColor='green'" onmouseout="this.style.backgroundColor='#ec294b'"><i class="fa-solid fa-heart"></i> 
                            {% else %}
                            <button class="btn-like"
                            onmouseover="this.querySelector('i').className='fa-solid fa-heart-crack'"
                            onmouseout="this.querySelector('i').className='fa-solid fa-heart'"
                            >
                            <i class="fa-solid fa-heart"></i>
                            {% endif %}
                        </button>
                    </form>
                </div>
            </div>
            <div class="box-text">
                <h3>{{ anime.name }}</h3>
                <p>{{ anime.description | truncate(500) }}</p>
            </div>
        </div>
        {% endif%}
    </div>
    <div class="container-center">
        <div class="container-info">
            <div class="info-left">
                <div class="rate container-flex"><i class="fa-solid fa-star star"></i><p>#11455  Mejores puntuados</p></div>
                <div class="rate container-flex"><i class="fa-solid fa-heart heart1"></i><p>#25  Más popular</p></div>
                <div class="info">
                    {% if anime.studio is not none %}
                        <h3>Estudio</h3>
                        <p>{{ anime.studio }}</p>
                    {% endif %}
                    {% if anime.num_caps is not none %}
                        <h3>Capítulos</h3>
                        <p>{{ anime.num_caps }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="info-right">
                <h3>Personajes</h3>
                <div class="container-character">
                    {% for character in anime.characters %}
                    <div class="card-character">
                        <div class="character">
                            <img src="{{ character.image }}" alt="">
                            <div class="character-info">
                                <p>{{ character.name }}</p>
                            </div>
                        </div>
                        <div class="actor">
                            <div class="actor-info">
                                <p>{{ character.actor.name }}</p>
                            </div>
                            <img src="{{ character.actor.image }}" alt="">
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</body>
</html>