<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if character %}
    {% set detail = character %}
    {% elif actor %}
    {% set detail = actor %}
    {% endif %}
    <title>{{ detail.name.upper() }} - AnimeList</title>

    <!-- FontAwesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    <!-- Main stylesheet -->
    <link rel="stylesheet" href="/static/css/estilos.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body class="bd">
    <header class="header">
        <nav class="nav text-nav" style=" width: 100%; opacity: 100%; margin-left: 0px; z-index: 1;">

            <!-- Site icon -->
            <a href="/">
                <img  class="favi-img" src="/static/images/Favicon1.png" alt="">
            </a>


                <!-- DROPDOWN PROFILE  -->
            <div class="dropdown-container sansation-light">
                {% if user is not none %}
                <input type="checkbox" id="toggle-menu" hidden>
                <label for="toggle-menu" class="dropdown-btn1"><img class="avatar-nav" src="{{ user.image }}" alt=""></label>
                <label class="menu-overlay" for="toggle-menu"></label>
                <div class="dropdown-profile">
                    <!-- <div class="container-between exit-menu">
                        <p>Menú</p>
                        <input type="checkbox" id="toggle-menu" hidden>
                        <label for="toggle-menu" class="dropdown-btn"><i class="fa-solid fa-x"></i></i></label>
                    </div> -->
                    <a href="/profile/list"><p>Mi lista</p></a>
                    <a href="/profile"><p>Perfil</p></a>
                    <a href="/setting"><p>Ajustes</p></a>
                    <a href="/logout">
                        <p>Cerrar sesión</p>
                    </a>
                </div>
                {% else %}
                <a href="/login">
                    <p>Iniciar sesión</p>
                </a>
                {% endif %}
            </div>
        </nav>
    </header>

    <!-- TOP NAME -->
    {% if character %}
    {% set detail = character %}
    {% elif actor %}
    {% set detail = actor %}
    {% endif %}
    <div class="character-container">
        <div class="headers">
            <div class="headers-inner container-flex">
                <img class="image-character" src="{{ detail.image }}" alt="{{ detail.name }}">
                <p>{{ detail.name }}</p>
                <form class="container-button" method="post"  {% if character %} action="/character/follow" {% elif actor %} action="/actor/follow" {% endif %}>
                    <input type="hidden" value="{{ detail.id }}" {% if character %} name="character_id" {% elif actor %} name="actor_id" {% endif %}>
                    <button class="btn">
                        <i class="fa-solid fa-heart icon"></i>
                        {% set value = follows %}
                        {% if value >= 1000000 %}
                        {{ (value/1000000)|round(1) }}kk
                        {% elif value >= 1000 %}
                        {{ (value/1000)|round(1) }}k
                        {% else %}
                        {{ value }}
                        {% endif%}

                    </button>
                </form>
            </div>
        </div>

        <div class="description">
            <div class="image"></div>
            {% if character %}
            <div class="p-info">
                <p>{{ "Cumpleaños: " ~ character.birthday if character.birthday }}</p>
                <p>{{ "Edad: "  ~ character.age if character.age }}</p>
                <p>{{ "Género: " ~ character.gender if character.gender}}</p>
                <p>{{ "Tipo de sangre: " ~ character.blood_type if character.blood_type }}</p>
                <p>{{ "Raza: " ~ character.race if character.race }}</p>
                <p>{{ "Zanpakutou: " ~ character.zanpakutou if character.zanpakutou }}</p>
                <p>{{ "Familiares: " ~ character.relatives if character.relavites }}</p>
                <p>{{ character.bio }}</p>
            </div>
            {% elif actor %}
            <div class="p-info">
                <p>Fecha nacimiento: {{ actor.birth }}</p>
                <p>Género: {{ actor.gender }}</p>
                <p>Residencia: {{ actor.hometown }}</p>
                {% if actor.height %}
                <p>Altura: {{ actor.height }} cm</p>
                {% endif %}
                <p>{{ actor.bio }}</p>

            </div>
            {% endif %}
        </div>
    </div>

    <div class="container-carrousel">
        <div class="position">
            {% if character %}
            {% for anime in character.animes %}
            <div class="card1" style="--hover-color: {{ anime.color }}">
                <div class="images">
                    <a href="/anime/{{ anime.id }}">
                        <img class="img-anime" src="{{ anime.image }}" alt="">
                    </a>
                    <a href="/actor/{{ character.actor.id }}">
                        <img class="img-actor" src="{{ character.actor.image }}" alt="">
                    </a>
                </div>
                <p>
                    {{ anime.name }}
                </p>
            </div>
            {% endfor %}
            {% elif actor %}
            {% for character in actor.character %}
            {% for anime in character.animes %}
            <div class="card1" style="--hover-color: {{ anime.color }}">
                <div class="images">
    
                    <a href="/character/{{ character.id }}" >
                        <img class="img-anime" src="{{ character.image }}" alt="">
                    </a>
                    <a href="/anime/{{ anime.id }}">
                        <img class="img-actor" src="{{ anime.image }}" alt="">
                    </a>
                </div>
                    <p>
                        {{ character.name }}
                    </p>
            </div>

            {% endfor %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>