/* --------- BODY -----------*/
body {
  font-family: Overpass,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}


.bd {
    margin: 0;
    background-color: #0A1828;
    /* #0A1828 */
    
}

/* ------ Containers -------- */

.container-center {
    margin: 0;
    display: flex;
    justify-content: center;
}

.container-mid {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-around {
    display: flex;
    justify-content: space-between;
}


.column {
    display: flex;
    flex-direction: column;
}
/* -------------NAV-------------- */

.container {
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky;
    top: 0;
    z-index: 11;
}

.nav {
    height: 75px;
    border-bottom: 1px solid #BFA181;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0A1828;
}

.text-nav {
    color: #178582;
    font-size: 30px;
}

.text-nav a{
    font-family: Overpass,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Oxygen,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    color: #9fadbd;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #0A1828;
    color: #9fadbd;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: sans-serif;
    font-size: 30px;
}

.dropdown-content { 
    display: none;
    position: absolute;
    background-color: #178582;
    min-width: 200px;
    box-shadow: 0 0 16 0 rgba(0, 0, 0, 2);
    z-index: 12;
    height: 200px;
    overflow-y: scroll;
 }

 .dropdown-content a{
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
    font-size: 20px;

 }

  .dropdown-content p{
    color: black;
    padding: 12px;
    display: block;
    font-size: 25px;
    margin: 0;
    border-bottom: 1px solid black;

 }

.dropdown:hover .dropdown-content { display: block; }
.dropbtn:hover {
    background-color: #178582;
    color: black
}

.dropdown:hover .dropbtn { background-color: #178582; color: black;}

/* ------------- CAROUSEL ------------ */
.container-flex {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container-carousel {
    perspective: 250px;
    width: 300px;
    height: 150px;
    position: relative;
}

.card-carousel {
    width: 50px;
    height: 80px;
    background-color: black;
    font-size: 40px;
    position: absolute;
    top: 35px;
    left: 125px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    animation: Carrusel 24s linear infinite;
}

@keyframes Carrusel
{
    from{
        transform: rotateY(360deg) translateZ(100px);
        z-index: 10;
        opacity: 0.9;
    }

    50%{
        z-index: -10;
    }

    to{
        transform: rotateX(0deg) translateZ(100px);
    }

}

#Ten {
    background-image: url();
    background-size: cover;
}

#Nine {
    background-image: url();
    background-size: cover;
    animation-delay: -3s;
}

#Eight {
    background-image: url();
    background-size: cover;
    animation-delay: -6s;
}


#Seven {
    background-image: url();
    background-size: cover;
    animation-delay: -9s;
}

#Six {
    background-image: url();
    background-size: cover;
    animation-delay: -12s;
}

#Five {
    background-image: url();
    background-size: cover;
    animation-delay: -15s;
}

#Four {
    background-image: url();
    background-size: cover;
    animation-delay: -18s;
}

#Three {
    background-image: url();
    background-size: cover;
    animation-delay: -21s;
}

#Two {
    background-image: url();
    background-size: cover;
    animation-delay: -24s;
}

#One {
    background-image: url();
    background-size: cover;
    animation-delay: -18s;
}

.card-carousel h3{
    color: white;
    font-size: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 70px;
    background-color: #ff0000;
}

/* ------------ SEARCH ------------ */

.container-search {
    display: flex;
    justify-content: space-around;
    min-width: 600px;
    margin-bottom: 75px;
    padding-top: 100px;
}

.input-group {
    position: relative;
    display: flex;
    justify-content: center;
}

.neon {
    all: unset;
    /* background-color: #2e3847; */
    box-sizing: content-box;
    border: #BFA181 1px solid;
    border-radius: 8px;
    color: #178582;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 0 0 transparent;
    padding: 10px 12px;
    width: 200px;

}

.neon:hover {
    box-shadow: 30px #BFA181;
}

.label {
    position: absolute;
    top: .8em;
    left: 12px;
    z-index: 2;
    color: #BFA181;
    font-size: 14px;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: #0A1828;
    padding-right: 130px;
}

.neon:focus + .label{
    transform: translateY(-130%) scale(0.8);
    background-color: #0A1828;
    padding-inline: 5px;
}


 /* --------------- SELECT GENRE------------  */

.container-select {
    position: relative;
}

.select {
    all: unset;
    border: #BFA181 1px solid;
    position: relative;
    display: flex;
    flex-direction: row;
    padding-block: .8em;
    width: 213px;
    border-radius: 8px;
    color: #BFA181;
    background-color: #0A1828 ;
    font-size: 14px;
    padding-left: .9em;
    padding-right: 0;
    
}



/* --------------- CARDS --------------- */

.container-cards {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex: 1 1 auto; */
    justify-content: center;
}

.container-relative {
    position: relative;
}

.container-cards a{
    text-decoration: none;
    color: #9fadbd;
}

.card {
    display: flex;
    flex-direction: column;
    max-height: 317px;
    max-width: 185px;
    padding: 20px;
    z-index: 1;
}

.card p{
 
    font-family: Overpass,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Oxygen,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
}

.heart {
    position: absolute;
    z-index: 2;
    top: 8%;
    right: 12%;
}

.heart:hover {
    color: green;
}

.card p{
    display: flex;
    justify-content: center;
    color: dark;
}

.container-cards a:hover .card-hover {
    display: block;
}

.card-image {
    height: 80%;
    width: auto;
    object-fit: cover;
    border-radius: 5px;
}

/* ------------- hidden CARD ----------- */

.card-hover {
    position: absolute;
    box-sizing: border-box;
    top: 2%;
    right: -110%;
    background-color: #1c3650;
    width: 250px;
    height: 150px;
    border-radius: 8px;
    z-index: 3;
    display: none;
    padding: 18px;
}

.card-hover h3{
    font-size: 14px;
    font-family: Overpass,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Oxygen,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    margin-bottom: 5px;
    margin-top: 0px;
}

.card-hover i{
    margin-top: 4px;
    margin-right: 40px;
}

.card-hover .container-flex{
    margin-top: 10px;
    margin-bottom: 20px;
}
    

.card-hover h2{
    font-size: 12px;
    font-family: Overpass,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Oxygen,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    margin-top: 3px;
    color: #9fadbd;
}

.card-hover p{
    color: #0A1828;
}

.box-card-hidden {
    justify-content: center;
}

.label-genre {
    font-size: 15px;
    border-radius: 15px;
    padding-inline: 10px;
    padding-block: 2px;
    margin-inline: 5px;
}

/* ---------- MEDIA ----------- */


@media (max-width: 440px) {
    .container-cards{
        justify-content: center;
    }
}


@media (max-width: 550px) {
    .container-search {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-genre {
        margin-top: 20px;
    }
}


/* ----------- LOGIN ---------- */

.container-login {
    background-color: #193350;
    box-sizing: content-box;
    padding: 50px;
    border-radius: 8px;
}

.content-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-login p{
    margin-top: 5px;
    font-size: 17px;
}

.text-login p{
    color: #178582;
}

.input-box {
    all: unset;
    box-sizing: content-box;
    border: #BFA181 1px solid;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #183047;
    padding: 5px;
    color: white;
    width: 404px;
    padding-left: 15px;

}

.btn-login {
    all: unset;
    box-sizing: content-box;
    color: #e4e4e4;
    border-radius: 8px;
    background-color: rgb(39, 128, 98);
    width: 312px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn-login:hover {
    background-color: #178582;
    color: rgb(21, 70, 53);
    box-shadow: black;
}

.input-box:focus {
    border: #178582 1px solid;
}

.recover-password {
    display: flex;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
}

.recover-password p{
    font-size: 12px;
}
.recover-password:hover p{
    color: #e4e4e4;
}



/* MEDIA */

@media (max-width: 682px){
    .card{
        width: auto;
        height: 250px;
    }
    .heart{
        top:9%;
        right: 14%;
    }
}

@media (max-width: 557px){
    .card{
        width: 120px;
        height: 220px;
    }
    .heart{
        top:9%;
        right: 16%;
    }
}

@media (max-width: 480px){
    .card{
        width: 100px;
        height: 180px;
    }
    .card p{
        font-size: 13px;
    }

    .heart{
        top: 10%;
    }
}

@media (max-width: 420px){
    .card{
        width: 90px;
        height: 180px;
        margin: 2px;
    }
    .card p{
        font-size: 12px;
    }

    .heart{
        top: 10%;
        right: 18%;
    }

}

@media (max-width: 405px){
    .card{
        width: 80px;
        height: 160px;
        margin: 2px;
    }
    .card p{
        font-size: 12px;
    }

    .heart{
        top: 10%;
        right: 18%;
    }

}